<div class="container join">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <%= form_tag redirect_path do %>
        <%= text_field_tag(:token) %>
        <%= submit_tag("GO") %>
      <% end %>
    </div>
  </div>
</div>
